@using Store.YandexKassa.Areas.YandexKassa.Models
@model ExampleModel
@{
    ViewData["Title"] = "Order has been paid";
}
<h1>Order has been paid</h1>

<p>
 Order has been paid. Press <em>Next</em> to proceed.
</p>
<form action="@Model.ReturnUri" method="post">
    <input type="hidden" name="serviceName" value="YandexKassa"/>
    <input type="hidden" name="step" value="1" />
    <input type="hidden" name="values[orderId]" value="@Model.OrderId" />
    <button type="submit" class="btn btn-success">Next</button>
 </form>