@{ 
    ViewData["Title"] = "Order is placed";
}
<p>
    Order is placed. We package it in order to transfer it to the delivery service.
    Wait for SMS.
</p>
<p>
    <a href="@Url.Action("Index", "Home")">Return to the main page.</a>
</p>